# Introducton to Python syntax and features

## I. Introduction

1. All code and examples use Python 3.x
2. We will use the following Python packages:
  - Pandas 
  - Matplotlib
  - Numpy
3. General instructions:
  - Some sections may contain a study drill, which is a small exercise to help you review the concepts. 
  - You should work through each section in sequence - each section builds upon the previous.
    - You can run code using the 'play' button that appears when you click in each interactive cell. Additionally, you can use a keyboard shortcut (shift + enter) to run the contents of the code cell.
4. Style conventions:
  - In-text code snippets will be formatted like this: 
  
  `print("Hello world!")`
  - Interactive cells will look the like code examples, but will have a set of square brackets in the top left ( `[ ]`).

  - Study drills will be formatted like this:

  > **Study drill:**
  > 
  > What is the difference between these two blocks of code?

## II. Outline

* Python syntax
* Built-in data types
* Operators
* Basic data types
* Loops
* Functions
* Importing data

## III. Syntax

Python is an interpreted language, so code may be run in two ways:
- "Interactive" programming
- "Script" programming



### 3.1 "Interactive mode" programming

Interactive programming allows you to enter code and then immediately see the results. This style of programming is useful for simple operations or "line by line" programming. We will be interactively programming in Python in this workshop.

- Type the following code in the cell below and use "Shift+Enter" to run the code.
    ```python
    print("Hello World!")
    ```
    
__`print()` is a Python built-in function. This means that it is "always there."__

In [65]:
print("hello World")

hello World

### 3.2 A brief note about "script mode" programming
For complex programming tasks, it is common to save the code in plain text files with a ".py" extension. Programming this way allows you to save your code for reuse and automation, and allows you to interact with multiple programs at once.

    
### 3.3 Quotations & string data

Text or string data have to be wrapped in quotation marks otherwise Python will attempt to evaluate the words as code and will raise an error.

- Single quotes (`'`)
- Double quotes (`"`)

```python
a_word = 'Python'
a_sentence = "Today is a beautiful day!"
```

Single and double quotes may be used interchangeably, but be careful when using single quotes when your text contains apostrophes!

```python
# The following string will cause an error:
a_sentence = 'Spam and eggs are my friend's favorite foods.'

# The same string wrapped in double quotes will be interpreted correctly:
a_sentence = "Spam and eggs are my friend's favorite foods."
```

- Triple quotes (`'''` or `"""`)

```python
# A multi-line string:
a_paragraph = '''We are starting to study Python. 
After we finish this tutorial, we will be on our to programming with Python! That's pretty cool!'''
```

> **Study drill:**
> - Create a multi-line comment and store the comment in a variable.
> - Return the contents of the variable using `print(variable)`.
> - Now return the contents of the variable by calling the variable directly, `variable`.
> - What is different between what each printed to the screen?

In [66]:
s = '''hello
world'''

print(s)

hello
world

### 3.4 Comments
- Any line beginning with an octothorpe (or hashtag) `#` is treated as a comment in the Python interpreter.
- Comments are a great way to leave explanations or instructions in the code.
- For example:

    ```python
    # Print Hello world with print() function
    print("Hello World!")
    ```
- Multi-line comments should be wrapped in triple quotes, for example:

    ```python
    '''
    This comment will cover multiple lines.
    Anything between the triple quotes will be interpreted as a comment.
    Neat!
    '''
    ```

Although multi-line comments are possible with tripe quotes, it is common to only use them as Docstrings for functions. If you are writing comments in your code that spans multiple lines, you should get in the habit of using the single line octothorpe/hash comment style.

### 3.5 Reserved words in Python

- The following reserved words cannot be used as variable names or other identifier names (__Lower case only__). In general, you should avoid using any variation of these words in your variable names.

|          ||         ||        |
|:---:     ||:---:    ||:---:   |  
| assert   || finally || or     |
| break    || for     || pass   |
| class    || from    || print  |
| continue || global  || raise  |
| def      || if      || return |
| del      || import  || try    |
| elif     || in      || while  |
| else     || is      || with   |
| except   || lambda  || yield  | 
| not      || exec    || and    |

### 3.6 Indentation

- The number of spaces in the indentation is variable (typically four of five spaces), but all statements within the block must be indented the same amount.

In the examples below, the `if` statement is not indented, but the statement that follows the colon is indented.

- For example:

  __Copy below code to the below cell and run it:__    
  ```python 
  # A correct if statement
  if 2 > 3:
      print(True)
  else:
      print(False)
  ```

  __Copy below code to the below cell and run it:__
  ```python
  # An incorrect if statement
  if 2 > 3:
      print(True)
  else:
  print(False)
  ```
  
> **Study Drill:**
>
> What are the differences between these two blocks of code?

In [67]:
if 2 > 3:
    print(True)
else:
    print(False)

False

### 3.7 Built-in data types

All data in Python has a type associated with it. Data types allow you to perform operations like arthmetic and text formatting. When you create data, Python can often automatically determine what type it is. However, it can be useful to explictly specify the type.

Here we only cover some basic built-in data types (Strings, Integers, Floats). Click [here](https://docs.python.org/2/library/stdtypes.html#numeric-types-int-float-long-complex) for More.



#### 3.7.1 Numeric data
- Integers
    ```python
    # Assign the number 1 to the variable `an_integer` with assignment operator `=`.
    # Now, the variable `an_integer` has the value `1`.
    an_integer = 1

    # Alternatively, we could explicitly specify 1 is an integer using int()
    an_interger = int(1)
    ```
- Floats 
    ```python
    # Assign a floating point number to the variable `a_float` with assignment operator `=`.
    # Now,the variable `a_float` represents the floating point number.
    a_float = 1.4325

    # Alternatively, we could explicitly specify 1.4325 is a float using float()
    a_float = float(1.4325)
    ```

#### 3.7.2 Textual data 
- Strings
    ```python
    # Assign a string `Hello` to the variable `greeting_text` with assignment operator `=`.
    # Now, the variable `greeting_text` represents the string `Hello`.
    greeting_text = "Hello"
    ```
Anything that is wrapped in quotation marks will be treated as a string. However, it is sometiems useful to convert numeric data into strings without using quotations. We can use `str()` to accomplish this.

```python
# Convert the value of an_integer to a string
str(an_integer)

# We can also pass raw numeric data to str() as well
str(6174)
```

In [68]:
# Create some variables and assign some string or character data to them.
# The variable names and content you assign to them are up to you!

num = int(3.4)
print(num)

3

#### 3.7.3 Checking the data type of a variable
What's the difference between `1` and `"1"`? Python interprets `1` as an integer and `"1"` as character or string data. When you print the value of a variable, the results are displayed as character data, which makes it difficult to confirm what the actual data type stored in a variable is.

You can check the data type of any value using the `type()` function.
```python
# Assign the integer `1` to a variable `an_integer`
# Assign the string `"1"` to a variable `a_string`
# Confirm the data type or "class' of each using `type()`
an_integer = 1
a_string = "1"
type(an_integer)
type(a_string)

# Just to test that type works as expected, 
# let's convert a integer to a string and then check the type
type(str(1))

```

> **Study Drill:** 
>
> 1. Declare three variables and assign an integer, a float, and string to each.
> 2. Return the value of each variable by typing the variable name.
> 3. Try returing the value of each using the `print()` function.
> 4. Confirm that the value stored in each of your variables is what it should be using the `type()` function.
>
> How do the results of calling the variable, printing the value of the variable, and testing the type of each variable differ?

In [69]:
type(str(1))

type(float(1.2))

float

### 3.8 Basic arithmetic

- Addition `+`
    - 
    ```python
    2 + 2
    ```
- Subtraction `-`
    - 
    ```python
    4 - 2
    ```
- Division `/`
    - 
    ```python
    4 / 2
    ```
- Multiplication `*`
    - 
    ```python
    2 * 2
    ```
- Modulo `%`
    - 
    ```python
    5 % 2
    ```
    
> **Study drill:**
>
> Find the answers of the above operations by using the cell below.

In [70]:
print(16%6)

print(float(4/3))

4
1.3333333333333333

### 3.9 Logical operators
 The data type returned by following are Boolean i.e., The output will be either True or False.
- Less than   <
    - 
    ```python
    4 < 2
    ```
- Greater than  > 
    - 
    ```python
    3 > 1
    ```
- Equals == 
    - 
    ```python
    True == False
    ```
- Not equal != 
    - 
    ```python
    2 != 2
    ```
- Less than or equal <= 
    - 
    ```python
    3 <= 4
    ```
- Greater than or equal >= 
    - 
    ```python
    3 >= 2
    ```
    
> **Study drill:** 
> Evaluate each logical statement above. Use the below cell to run the each operation and get the answer (`True` or `False`). 
>
> Hint: Run one line code each time.

In [71]:
print(4<2)

False

## IV. Basic data structures

In order to get the most value out Python, we will need to organize our data.
Python has three basic data structures: 
1. Lists (mutable collections of objects)
2. Tuples (immutable collection of objects)
3. Dictionaries (collections of "key-value" pairs)

### 4.1 Lists

- Lists are comma separated sequences of object enclosed in square brackets (`[..., ...]`)
- Lists can contain different data types(variables, integers, floats, strings, etc.)

Copy the following code to the below cell and use __"Shift+Enter"__ to run it:
```python
list_of_numbers = [1, 2, 3, 4, 5, 6]
list_of_strings = ['a', 'b', 'c', 'd', 'e', 'f']
list_of_mixed_types = [1, 'a', 2, 'b', 3.14, 'Section 4.1 - Lists']
```

In [72]:
list_of_numbers = [1, 2, 3, 4, 5, 6]
list_of_strings = ['a', 'b', 'c', 'd', 'e', 'f']
list_of_mixed_types = [1, 'a', 2, 'b', 3.14, 'Section 4.1 - Lists']

In [73]:
print(list_of_numbers)
print(list_of_strings)
print(list_of_mixed_types)

print(list_of_mixed_types[4])

[1, 2, 3, 4, 5, 6]
['a', 'b', 'c', 'd', 'e', 'f']
[1, 'a', 2, 'b', 3.14, 'Section 4.1 - Lists']
3.14

#### 4.1.1 List indexes
- Lists are unordered sequences of elements, i.e. by default, the value of an element has no impact on its position within the list.
- Each element can be accessed using a positional index (__Note: Python indexes start with 0__).
- The syntax for accessing list elements by index position is `name_of_list[index]`
- Copy the following code to the below cell and use "**Shift+Enter**" to run it:

```python
# Below code will get the first element of `list_of_numbers` list
list_of_numbers[0]
```

In [74]:
list_of_numbers[0]

1

> **Study Drill:**
>
>- What is the __2nd__ element of `list_of_numbers`?
>- What is the __5th__ element of `list_of_strings`?
>- What are the __2nd and 4th__ elements of `list_of_mixed_types`?

In [75]:
print(list_of_numbers[1])
print(list_of_strings[4])
print(list_of_mixed_types[1], list_of_mixed_types[3])

2
e
a b

#### 4.1.2 Append a list

- We can use the `append` method to add a element to the end of a list. 
- __Methods__ are a way to interact with an object such as a list. 
- We can use a method using dot notation (`object.method()`). Type the name of the ojbect followed by `.` and then the method name and `()`. Some methods can accept arguments, which are placed in between the parentheses.

```python
# Add `element` to the list `Listname`
Listname.append(element)
```
Copy following code to the below cell and use "Shift+Enter" to run it:

```python
  # Create a list
  some_list = [1, 2, 3, 4, 5, 6]
    
  # Add the element "7" to the list
  some_list.append(7)
    
  # Print all elements in the list
  print(some_list)
```

In [76]:
some_list = [1,2,3,4,5,6]
some_list.append(7)
print(some_list)

[1, 2, 3, 4, 5, 6, 7]

#### 4.1.3 Insert an element into a list

- We can use the `insert()` method to insert an element to any part of the list using an index number. 
- The first argument of the `insert()` method is the element position you want to insert (__Note: Python indexes start with 0__).
- Copy following code to the cell below and use "Shift+Enter" to run it:

```python
# Create a list
another_list = [1, 2, 3, 4, 5, 6]

# Add the element "10" as the first element of the list
another_list.insert(0, 10)

# Print the elements in the list
print(another_list)
```

In [77]:
another_list = [1,2,3,4,5,6]
another_list.insert(0,10)
print(another_list)

[10, 1, 2, 3, 4, 5, 6]

#### 4.1.4 Removing elements from a list

- We can use the `remove()` method to remove an element from any part of the list. 
- In this example, the `remove()` method takes a single argument which is the postion of the element you want to remove (__Note: Python indexes start with 0__).
- Copy following code to the below cell and use"Shift+Enter" to run it:

```python
# Create a list
spam_numbers = [1, 2, 3, 4, 5, 6]

# Remove the element at index 2
spam_numbers.remove(2)

# Print the elements in the list
print(spam_numbers)
```

In [78]:
spam_numbers = [1,2,3.4,4,5,6]
spam_numbers.remove(3.4)
print(spam_numbers)

[1, 2, 4, 5, 6]

#### 4.1.5 List slicing

- If we only want to print some elements of the list, but not all of them, we can "slice" the list.
- List slicing uses two index numbers separated by a colon to specify a range of elements.
- The range you use to slice a list will return the first specified element *up to, but not including,* the second element.
- Copy following code to the cell below and use "Shift+Enter" to run it:

```python
# Create a list
list_to_slice = [1, 2, 3, 4, 5, 6]

# Print the 2nd element of the List
print(list_to_slice[1])

# Print the 2nd and 3rd elements of the List
print(list_to_slice[1:3])

# Print the all elements before 3rd element in the List.
print(list_to_slice[:3])

# Print the all elements after 2nd element in the List.
print(list_to_slice[2:])
```

In [79]:
list_to_slice = [1,2,3,4,5,6]
print(list_to_slice[:2])
print(list_to_slice[2:])

[1, 2]
[3, 4, 5, 6]

> **Study Drill:**
>
> What did you notice about the syntax for slicing the list to return the 2nd and 3rd elements of the list?
>
> Create a list in the below cell: `practice_list = [1, 2, 4, 5, 6]`
>    - Insert a "3" into the third position in the list
>    - Remove last element of the list
>    - Append a "7" to the list
>    - Print all elements
>    - What happens if you don't use the `print()` function? Try to return the first element of `practice_list` without using the `print` statement.

In [80]:
practice_list = [1,2,3,4,5,6]
practice_list.insert(2,3)
practice_list.remove(len(practice_list) - 1)
practice_list.append(7)
print(practice_list)

[1, 2, 3, 3, 4, 5, 7]

### 4.2 Tuples
- Tuples are enclosed in parentheses`()` and values are sperated by commas `,`.
- Copy the following code to the below cell and use __"Shift+Enter"__ to run it:
```python
spam_tuple = (1, 2, 3, 4, 5, 6)
```

> **Study drill:**
>
> How do lists and tuples differ?
>
> Try using a list method on a tuple. What happens?

In [81]:
spam_tuple = (1,2,3,4,5,6)

### 4.3 Dictionaries
- A Dictionary is a structure that stores pairs of objects, e.g. keys and values.
- Dictionaries are like lists, except that you index them with keys. 
- Keys have to be unique within the dictionary and named using something immutable, such as a tuple, string, or integer.
- Dictionaries are enclosed in curly braces `{}` and keys are separated from values using a colon.
- Copy following code to the below cell and use"Shift+Enter" to run it:

```python
# A Dictionary
days_of_the_week = {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

# Print the paired value of the key "2"
print(days_of_the_week[2])
```

In [82]:
days_of_the_week = {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

print(days_of_the_week[2])

Tuesday

You can assign a new value to a key using the following syntax: `days_of_the_week[1] = 'Sunday'`

> **Study drill:**
>
> Update the values of `days_of_the_week` accordingly so that the week begins on Sunday.

In [83]:
days_of_the_week[1] = 'Sunday'
days_of_the_week

{1: 'Sunday',
 2: 'Tuesday',
 3: 'Wednesday',
 4: 'Thursday',
 5: 'Friday',
 6: 'Saturday',
 7: 'Sunday'}

## V. Flow control: a.k.a. 'loops'
Loops allow you to repeat a block of code or perform an action multiple times until a specified condition terminates the loop. We will cover three different types of flow control:

1. The `while` loop
2. The `for` loop
3. The `if-else` statement

### 5.1 The `while` loop
- Repeats a statement or group of statements while a given condition is `True`. 
- Useful for when a condition needs to be checked each iteration, or to repeat a block of code numerous times.

  ![WhileLoop](https://raw.githubusercontent.com/drdn/intro_python_module/master/assets/python_while_loop.jpg)
    > Image credit: Tutorialspoint.com

- Copy the following code to the below cell and use __"Shift+Enter"__ to run it:

```python 
# Assign the value `0` to a variable named `eggs`
eggs = 0

# Write a while loop that continues until the value of `eggs` is less than 10
while eggs < 10:
  # Increment the value of `eggs` by `1`
  eggs = eggs + 1
  # Print the current value of `eggs`
  print(eggs)
```

In [84]:
eggs = 0

while eggs < 10:
    eggs += 1
    print(eggs)

1
2
3
4
5
6
7
8
9
10

### 5.2 The `for` loop
- `for` loops are traditionally used when you have a block of code that you want to repeat a fixed number of times. 
- In Python, the `for` statement iterates over the members of a sequence in order, executing the block each time.

  ![ForLoop](https://raw.githubusercontent.com/drdn/intro_python_module/master/assets/python_for_loop.jpg)
  > Image credit: Tutorialspoint.com

- Copy the following code to the cell below and use __"Shift+Enter"__ to run it:
```python
# A for loop
numbers = 0
for i in range(10):
    numbers = numbers + 1
    print(numbers)
```

In [85]:
numbers = 0

for i in range(10):
    numbers += 1
    print(numbers)

1
2
3
4
5
6
7
8
9
10

> **Study drill:**
>
> Our example of a `while` loop and a `for` loop are very similar. What's the difference?
>
> The `for` loop also introduced the `range()` function. Can you guess what it does?

### 5.3 The `if-else` statement
The `if-else` statement is a powerful way to create multiple outcomes for the same piece of code. Some examples how the `if-else` statement can be used:
- Return different text for even and odd values.
- Write placeholder text to a spreadsheet in the event of an error or unexpected value.
- Test a string for specific formatting, such as an email address, and if the email is incorrectly formatted, prompt a user to re-enter their email address.

  ![IfELSE](https://raw.githubusercontent.com/drdn/intro_python_module/master/assets/decision_making.jpg)
    > Image credit: Tutorialspoint.com

- Copy the following code to the below cell and use __"Shift+Enter"__ to run it.
- On the first run, enter a value greater than 50.
- Run the code again with __"Shift+Enter"__ and enter a value less than 50

```python
# Define a Variable "Weight" 
weight = float(input("How many pounds does your suitcase weigh? "))

# If Statement: Judge if weight over than 50 lbs
if weight > 50:

    # If the value we input here is bigger 50 would print following statement
    print("There is a $25 charge for luggage that heavy.")
    
else:
    # If the value we input here is less than 50, would print following statement
    print("There is no charge for your luggage. Thanks!")
```

In [89]:
weight = float(input("How many pounds does your suitcase wight? "))

if weight > 50:
    print("There is a $25 charge for luggage that is heavy.")
else:
    print("There is no charge for your luggage. Thanks!")

There is a $25 charge for luggage that heavy.:

## VI. Functions

A function is a block of organized, reusable code that is used to perform a specific task. Using functions is beneficial and introduce modularity and reusability of the same code. 

For example, `print()` is a function; it performs the same action everytime, but there is a lot of code that we don't see. 

We can create our own functions in Python.

- Functions have to be defined using the `def` keyword. 
- The entire body of the function is indented.
- It is good practice to include a multi-line comment known as a 'docstring' which explains what the function does and what the requirements are.

We're going to create a simple function that prompts a user for two numbers and then returns the sum.

In [90]:
# Shift+Enter to run this code
def interactive_addition():
  '''
  The arguments passed to this function will be summmed 
  and returned."
  ''' 
  # Prompt a user to input the values of a and b
  a = float(input("Please input the first number: "))
  b = float(input("Please input the second number: "))

  # Do the math
  result = a + b
  return result

In [91]:
# Run the cell above and then call the function `interactive_addition()`
interactive_addition()

7.0

This function is useful if you want to perform interactive addition. Notice that there are no arguments required in function definition.

If you wanted to create something more reusable, remove the input prompts and add arguments to the function definition.

For example:

```python
def add_two_numbers(a, b):
  '''Returns the sum of two numbers.'''
  result = float(a) + float(b)
  return result
```

> **Study drill:**
>
> 1. Add two numbers using the `add_two_numbers` function.
> 2. Create a new function called `add_terms` which sums three terms.
> 3. Edit the `return` statement to print a message along with the result. (**Hint:** Use the following syntax `print("Message", result)`

In [92]:
# Practice writing functions here
def add_two_numbers(a,b):
    '''Returns the sum of two numbers'''
    result = float(a) + float(b)
    return result

add_two_numbers(6,12)

18.0

## VII. Importing modules and data

Python only loads a set of basic libraries on startup, but there are a lot more available in both the default Python distribution and from the Python community. Although a specific module/library may be installed on your computer, you cannot access the code until you `import` it. The `import` statement has a simple syntax: `import nameOfModule`.

- The following code shows how to import two modules:
  1. Pandas, a popular data analysis library, and
  2. NumPy, a scientific computing library

```python
# Import Pandas
import pandas
# Import NumPy
import numpy
```
- There is nothing wrong with your code if Pandas or Numpy are imported this way. However, if you were to use any of the functions from either one of these modules, you would have to type the full name each time, e.g. `pandas.read_csv()`.
- To save a few keystrokes, you can give modules a short alias. Pandas is commonly imported as `pd` and Numpy as `np`. Knowing these conventions is also useful when reusing other people's code.

```python
import pandas as pd
import numpy as np
```

### 7.1 Import a plain text file (CSV)
A comma-separated values (CSV) file stores tabular data as plain text with distinct records on each line and each record containg one or more fields or values. The use of the comma as a field separator is the source of the name for this file format.

- There are several ways to read CSV files into Python, but we will be using Pandas here for its simplicity.
- Pandas stores tabular data in data structures known as 'data frames.' A common convention is to assign data frames to variables with `df` in the variable name.
- Copy the following code to the below cell and use __"Shift+Enter"__ to run it

  ```python
  import pandas as pd
  data = pd.read_csv('https://raw.githubusercontent.com/drdn/intro_python_module/master/data/data.csv')
  print(data)
  ```
  **Note:** The data file is being sourced from a URL. We could also read the file from a local filesystem or even from Google Drive! The file is provided to you in this manner to account for differences in operating systems and varying levels of familiarity with navigating file systems.

In [93]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/drdn/intro_python_module/master/data/data.csv')

print(data)

                   Qatar  10.7
0   United Arab Emirates  10.7
1                Bahrain  10.7
2                 Kuwait  10.7
3              Singapore  10.7
4             Luxembourg  10.7
5            South Sudan  10.7
6                 Jordan  10.7
7                   Oman  10.7
8              Australia  10.7

### 7.2 Import Excel files (with multiple worksheets)

CSV files are a platform independent spreadsheet format. However, you might create data using Excel or receive data in an Excel format. Pandas has a function specifically for reading Excel data.

- Copy the following code to the below cell and use __"Shift+Enter"__ to run it

```python
# Import pandas
import pandas as pd

# Store the data file name in the `file` variable
file = 'https://github.com/drdn/intro_python_module/blob/master/data/UN_Data.xltx?raw=true'

# Read the Excel file using the `ExcelFile` function
# Store the data in the `UN` variable
UN = pd.ExcelFile(file)

# Excel files have a `sheet_names` attribute
# Find the names of the sheets in the `UN` Excel object
UN.sheet_names

# Use the `.parse()` method on an Excel file to extract a specific sheet
df_HDI = UN.parse('HDI')

# Print the contents of df_HDI to the console
print(df_HDI)
```

In [97]:
import pandas as pd

# Store the data file name in the `file` variable
file = 'https://github.com/drdn/intro_python_module/blob/master/data/UN_Data.xltx?raw=true'

# Read the Excel file using the `ExcelFile` function
# Store the data in the `UN` variable
UN = pd.ExcelFile(file)

# Excel files have a `sheet_names` attribute
# Find the names of the sheets in the `UN` Excel object
UN.sheet_names

# Use the `.parse()` method on an Excel file to extract a specific sheet
df_HDI = UN.parse('HDI')

# Print the contents of df_HDI to the console
print(df_HDI)

    Human Development Index (HDI)                           Unnamed: 1  \
0                 HDI Rank (2015)                              Country
1                             169                          Afghanistan
2                              75                              Albania
3                              83                              Algeria
4                              32                              Andorra
..                            ...                                  ...
184                            71   Venezuela (Bolivarian Republic of)
185                           115                             Viet Nam
186                           168                                Yemen
187                           139                               Zambia
188                           154                             Zimbabwe

     Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  \
0      1990.000    1991.000    1992.000    1993.000    1994.000    1995.000
1         0.295       0.300       0.309       0.305       0.300       0.324
2         0.635       0.618       0.603       0.608       0.616       0.628
3         0.577       0.581       0.587       0.591       0.595       0.600
4           NaN         NaN         NaN         NaN         NaN         NaN
..          ...         ...         ...         ...         ...         ...
184       0.634       0.644       0.650       0.653       0.654       0.658
185       0.477       0.486       0.498       0.508       0.519       0.531
186       0.405       0.408       0.412       0.414       0.418       0.421
187       0.398       0.396       0.397       0.402       0.401       0.405
188       0.499       0.501       0.486       0.479       0.475       0.465

     Unnamed: 8  Unnamed: 9  ...  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
0      1996.000    1997.000  ...     2006.000     2007.000     2008.000
1         0.328       0.332  ...        0.415        0.433        0.434
2         0.637       0.636  ...        0.703        0.713        0.721
3         0.609       0.617  ...        0.690        0.697        0.705
4           NaN         NaN  ...          NaN          NaN          NaN
..          ...         ...  ...          ...          ...          ...
184       0.660       0.664  ...        0.728        0.745        0.754
185       0.542       0.542  ...        0.625        0.633        0.641
186       0.424       0.428  ...        0.477        0.480        0.483
187       0.408       0.411  ...        0.492        0.504        0.518
188       0.460       0.451  ...        0.414        0.421        0.419

     Unnamed: 21  Unnamed: 22  Unnamed: 23  Unnamed: 24  Unnamed: 25  \
0       2009.000     2010.000     2011.000     2012.000     2013.000
1          0.448        0.454        0.463        0.470        0.476
2          0.725        0.738        0.752        0.759        0.761
3          0.714        0.724        0.732        0.737        0.741
4            NaN        0.819        0.819        0.843        0.850
..           ...          ...          ...          ...          ...
184        0.754        0.756        0.767        0.770        0.771
185        0.647        0.655        0.662        0.668        0.675
186        0.488        0.493        0.494        0.498        0.500
187        0.533        0.543        0.554        0.565        0.570
188        0.436        0.452        0.464        0.488        0.498

     Unnamed: 26  Unnamed: 27
0       2014.000     2015.000
1          0.479        0.479
2          0.762        0.764
3          0.743        0.745
4          0.857        0.858
..           ...          ...
184        0.769        0.767
185        0.678        0.683
186        0.499        0.482
187        0.576        0.579
188        0.507        0.516

[189 rows x 28 columns]

## VII. The End!

Congratulations! You've completed the first section of the Intro to Python online learning module!

Take a break, and when you're ready, continue on to the next section, [Working with Data using Python and Pandas]()!

## References:
- Data Carpentry : http://www.datacarpentry.org/python-ecology-lesson/00-short-introduction-to-Python/
- Tutorials Point: https://www.tutorialspoint.com/python/
- Python 3 Document: https://docs.python.org/3/
- Matplotlib: https://matplotlib.org/
- Data Camp: https://www.datacamp.com/
- Plotly: https://plot.ly/
- Sentdex Youtube Channel : https://www.youtube.com/user/sentdex
- UN Human Developments Data :http://hdr.undp.org/en/data#
- WIKIPEDIA : https://www.wikipedia.org/

**Take your learning further:**

* [Learn Python the Hard Way](https://learncodethehardway.org/python/)
* [Python Crash Course](https://ehmatthes.github.io/pcc/)

In [ ]:
# Enter whatever code you want to here!